* {
    font-family: arial;
	text-shadow: 1px 1px 8px rgba(100, 100, 100, 1);
	text-decoration: none; 
}


body {
    margin: 0;
    padding: 0;
    min-width:1000px;

}

.background-video {
    background-position: top center;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
	opacity: 0.75;
}

.ytplayer-player {
    position: absolute;
    z-index:-1337;
	transform: scale(1.20);
}

#content {
    padding-top: 200px;
}

#pOverlay {
    height: 100%;
    width: 100%;
    position:absolute;
    z-index: 1337;
    background-color: rgba(0,0,0,0);
	
}

#pOverlay h1 {
    color: white;
    font-size: 40pt;
    margin: 0 auto;
}


#steam {
    background-image: url('img/steam.png');
}

#soundcloud {
    background-image: url('img/soundcloud.png');
}

#youtube {
    background-image: url('img/youtube.png');
}

#twitch {
    background-image: url('img/twitch.png');
}

#ev0lve {
    background-image: url('img/ev0lve.png');
}

#high-minded {
    background-image: url('img/high-minded.png');
}

#iniuria {
    background-image: url('img/iniuria.png');
}

#project-unknown {
    background-image: url('img/project-unknown.png');
}

#r3cheats{
    background-image: url('img/r3cheats.png');
}


.circle_first {
    display:inline-block;
    height: 85px;
    width: 85px;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    opacity: 0.6;
    border-radius: 50%;
    border: solid black 1px;
    background-repeat: no-repeat;
    background-position: center;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}


.circle_first:hover {
    opacity: 0.95;
    cursor: pointer;
}


